/*Estilo General*/
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background: #d4d4d4;
    font-family: Arial, Helvetica, sans-serif;
}

.wrap{
    width: 800px;
    max-width: 90%;
    margin: 20px auto;
}

ul.tabs{
    width: 100%;
    background: #363636;
    list-style: none;
    display: flex;
}

ul.tabs li{
    width: 18%;
}

ul.tabs li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    display: block;
    padding: 20px 0px;
}

.active{
    background: #0984cc;
}

ul.tabs li a .tab-text{
    margin-left: 8px;
}

.tabs-container{
    width: 100%;
    background: white;
}

.tabs-container section{
    padding: 20px;
}

.form-Inicio h2{
    text-align: center;
    
}

.form-Inicio img{
    margin: auto;
    display: block;
}

/*Linea Divisora*/
hr{
    width: 100%;
    
}


/*Estilos Skate*/
.form-Skate{
    width: 800px;
    background: #297ed3;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    box-shadow: 5px 1px 10px #0d3283;
}

.form-Skate h2{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.controlSkate{
    width: 100%;
    background: #cfe0f1;
    padding: 5px;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 16px;
    border: 1px solid #0d3283;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    
}

.form-Skate .botonSkate{
    width: 90%;
    border: 10px;
    padding: 5px;
    margin-left: 25px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 1px solid #0d3283;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.tablaSkate{
    width: 100%;
    padding: 5px;
}

#miListaSkate{
    padding: 5px;
}

.form-Skate .botonSkate2{
    width: 100%;
    border: 5px;
    padding: 5px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid #0d3283;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}


/*Estilos Clientes*/
.form-Client{
    width: 800px;
    background: #297ed3;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    box-shadow: 5px 1px 10px #0d3283;
}

.form-Client h2{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.controlCliente{
    width: 100%;
    background: #cfe0f1;
    padding: 5px;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 16px;
    border: 1px solid #0d3283;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    
}

.form-Client .botonCliente{
    width: 100%;
    border: 5px;
    padding: 5px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid #0d3283;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.tablaCliente{
    width: 100%;
    padding: 2px;
}

.form-Client .botonCliente2{
    width: 100%;
    border: 5px;
    padding: 5px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid #0d3283;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

/*Estilos Message*/
.form-Message{
    width: 800px;
    background: #297ed3;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    box-shadow: 5px 1px 10px #0d3283;
}

.form-Message h2{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.controlMessage{
    width: 100%;
    background: #cfe0f1;
    padding: 5px;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 16px;
    border: 1px solid #0d3283;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    
}

.form-Message .botonMessage{
    width: 90%;
    border: 10px;
    padding: 5px;
    margin-left: 25px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 1px solid #0d3283;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.tablaMessage{
    width: 100%;
    padding: 2px;
}

.form-Message .botonMessage2{
    width: 100%;
    border: 5px;
    padding: 5px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid #0d3283;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
